.gmail-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    display: flex;
    align-items: center;
    background-color: #F9FAFE;
    z-index: 1000;
    padding: 0 16px;
    justify-content: space-between;
}

.gmail-header-left {
    display: flex;
    align-items: center;
    min-width: 250px;
}

.gmail-header-search {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
}

.gmail-header-search .search-wrapper {
    background-color: #eceef6;
    border-radius: 24px;
    padding: 12px 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    transition: margin-left 0.3s ease;
}

/* .mail-index.sidebar-closed .gmail-header-search .search-wrapper {
    margin-left: 72px;
} */

.menu-icon {
    cursor: pointer;
    color: #5f6368;
    padding: 8px;

}
.menu-icon:hover{
    background-color: #d8e0ea;
    border-radius: 50%;
}
.gmail-logo {
    width: 34px;
    height: 34px;
    padding: 8px;
}

.gmail-title {
    font-size: 22px;
    font-weight: 500;
    color: #5f6368;
}

.search-wrapper .material-symbols-outlined {
    margin-right: 0.5rem;
    color: #5f6368;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    color: #3a3c41;
}

.icon-large {
    font-size: 24px !important;
}


