.gmail-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 74px;
    display: flex;
    align-items: center;
    background-color: #F9FAFE;
    z-index: 1000;
    padding: 0 16px;
    justify-content: flex-start;
}

.gmail-header-left {
    display: flex;
    align-items: center;
    min-width: 250px;
}

.gmail-header-search {
    flex: 0 0 600px;
    margin-right: 4.5rem;}

.gmail-header-search .search-wrapper {
    background-color: #eceef6;
    border-radius: 24px;
    padding: 12px 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    transition:  0.3s ease;
}

.menu-icon {
    cursor: pointer;
    color: #5f6368;
    padding: 8px;
}

.menu-icon:hover {
    background-color: #d8e0ea;
    border-radius: 50%;
}

.gmail-logo {
    width: 34px;
    height: 34px;
    padding: 8px;
}

.gmail-title {
    font-size: 22px;
    font-weight: 500;
    color: #5f6368;
}

.search-wrapper .material-symbols-outlined {
    margin-right: 0.5rem;
    color: #5f6368;
}

.search-input {
    width: 100%;
    background-color: transparent;
}

.icon-large {
    font-size: 24px !important;
}

.date-arrow-icon {
    font-size: 18px !important;
    vertical-align: middle;
    margin-left: 4px;
}

.gmail-header-nav {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: -1rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 0.4em;
    padding: 0.4em 0.8em;
    border-radius: 999px;
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
    transition: background-color 0.2s;
}

.nav-link:hover {
    background-color: #f1f3f4;
    color: #1a73e8;
}

.nav-link .material-symbols-outlined {
    font-size: 24px;
}

.nav-link.active {
    background-color: #f1f3f4;
    color: #1a73e8;
    font-weight: 600;
}

.nav-link.active .material-symbols-outlined {
    color: #1a73e8;
}
